.header {
  // position: relative;
  padding: 29px clamp(24px, 7.5vw, 50px);
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__burger {
    svg {
      fill: #231D4F;
      transition: all 0.4s ease;
    }

    &:hover {
      svg {
        fill: var(--color-purple-hover);
      }
    }
  }

  &__logo {
    transition: all 0.4s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__join {
    @media screen and (max-width: 576px) {
      display: none;
    }
  }
}



