.header {
  position: relative;
  padding: 28px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__burger {
    svg {
      fill: #231D4F;
      transition: all 0.4s ease;
    }

    &:hover {
      svg {
        fill: var(--color-purple-hover);
      }
    }
  }

  &__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.4s ease;

    &:hover {
      transform: translate(-50%, -50%) scale(1.1);
    }
  }
}



