.plans {
  padding: 41px 0 69px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(32px, 10vw, 90px);
  }

  &__head {
    display: grid;
    grid-template-columns: auto 220px;
    grid-gap: 25px clamp(40px, 4.32vw, 122px);
    padding-right: 11px;

    @media screen and (max-width: 991px) {
      padding-right: 0;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__title {
    white-space: nowrap;
    grid-column: span 2;

    @media screen and (max-width: 576px) {
      grid-column: initial;
    }
  }

  &__description {
    max-width: 584px;
  }

  &__tabs {
    height: 44px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 22px;

    @media screen and (max-width: 576px) {
      max-width: 220px;
      width: 100%;
      margin: 7px auto 0;
    }
  }

  &__tabs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--font-family-poppins);
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: 0.833333px;
    color: var(--color-blue-text);
    transition: all 0.4s ease;
    cursor: pointer;

    &.active {
      background-color: var(--color-purple);
      box-shadow: 0px 6px 12px rgba(82, 67, 194, 0.16);
      border-radius: 22px;
      color: var(--color-white);
    }
  }

  &__content {
    padding: 40px 68px;
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 26px;

    @media screen and (max-width: 768px) {
      padding: 32px 28px 28px;
    }
  }

  &__pricelist {
    &.active {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 52px;

      @media screen and (max-width: 991px) {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 100px 52px;
      }

      @media screen and (max-width: 576px) {
        grid-template-columns: 100%;
        grid-gap: 48px;
      }
    }
  }

  &__pricelist-item:last-child {
    position: relative;

    @media screen and (max-width: 991px) {
      grid-column: span 2;
    }

    @media screen and (max-width: 576px) {
      grid-column: initial;
    }

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      right: -30px;
      bottom: -20px;
      left: -30px;
      background-color: var(--color-blue);
      box-shadow: 0px 42px 34px rgba(82, 67, 194, 0.295755);
      border-radius: 26px;

      @media screen and (max-width: 768px) {
        top: -16%;
        right: -3%;
        left: -3%;
        bottom: -5%;
      }
    }
  }
}
