.plans {
  padding: 41px 0 69px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    // grid-gap: 90px;
    grid-gap: clamp(32px, 10vw, 90px);
  }

  &__head {
    display: grid;
    grid-template-columns: auto 220px;
    grid-gap: 25px clamp(40px, 4.32vw, 122px);
    padding-right: 11px;

    @media screen and (max-width: 991px) {
      padding-right: 0;
    }

    @media screen and (max-width: 576px) {
      grid-template-columns: 100%;
    }
  }

  &__title {
    white-space: nowrap;
    grid-column: span 2;

    @media screen and (max-width: 576px) {
      grid-column: initial;
    }
  }

  &__description {
    max-width: 584px;
  }

  &__tabs {
    height: 44px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 22px;

    @media screen and (max-width: 576px) {
      max-width: 220px;
      width: 100%;
      margin: 7px auto 0;
    }
  }

  &__tabs-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
    cursor: pointer;

    &.active {
      background-color: var(--color-purple);
      box-shadow: 0px 6px 12px rgba(82, 67, 194, 0.16);
      border-radius: 22px;
      color: var(--color-white);
    }
  }

  &__content {
    padding: 40px 68px;
    background-color: rgba(255, 255, 255, 0.64);
    border-radius: 26px;
  }

  &__pricelist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // display: flex;
    // align-items: stretch;
    grid-gap: 60px;
  }
}
