:root {
  /* -- Fonts --*/
  --font-family-poppins: "Poppins", sans-serif; // var(--font-family-tahoma);

  /* -- Colors --*/
  --color-black: #011936; // var(--color-black);
  --color-placeholder: #C2C2C2; // var(--color-placeholder);
  --color-border: #DFDFDF; // var(--color-border);

}








