:root {
  /* -- Fonts --*/
  --font-family-poppins: "Poppins", sans-serif; // var(--font-family-tahoma);

  /* -- Colors --*/
  --color-blue: #231D4F; // var(--color-blue);
  --color-purple: #BB6BD9; // var(--color-purple);
  --color-purple-hover: #A847CC; // var(--color-purple-hover);
  --color-white: #FFFFFF; // var(--color-white);
  --color-grey: #F5F5FA; // var(--color-grey);
  --color-pink: #F2DAD5; // var(--color-pink);

}








